/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
}

.btn-menu {
  font-family: Source Sans Pro;
  font-size: 14px;
  line-height: 18px;
}

a {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 12px;
  cursor: pointer;
  white-space: nowrap;
}

h1 {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 80px;
  line-height: 98px;
  letter-spacing: 0.5rem;
}

.h2, .h4, p, .btn {
  color: #2C4058;
}

.h2 {
  font-size: 44px;
  line-height: 54px;
  font-weight: bold;
}
.h2-center {
  text-align: center;
  width: 100%;
  padding-top: 28px;
}
.h2-center--white {
  color: #FFFFFF;
}

.h4 {
  font-size: 22px;
  line-height: 27px;
  font-weight: bold;
}
.h4--news-descr {
  padding-bottom: 12px;
}

.title-description {
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.34rem;
  padding: 18px 0;
}

h1,
.title-description {
  color: #FFFFFF;
}

.title-description,
h1 {
  text-align: center;
}

.socials-link {
  font-size: 14px;
}

.project-info {
  font-size: 18px;
  line-height: 30px;
  font-family: Open Sans;
}
.project-location {
  font-family: Open Sans;
  font-style: italic;
  font-size: 15px;
  line-height: 20px;
}

.news-content-short {
  font-size: 18px;
  line-height: 25px;
  font-family: Open Sans;
}

.author-name {
  font-size: 18px;
  line-height: 22px;
}

.publication-date {
  font-size: 14px;
  line-height: 17px;
  color: #55B7FF;
}

.contacts-item {
  font-size: 18px;
  line-height: 28px;
  color: #2C4058;
  display: block;
}

.icon-contacts {
  color: #7E5AFF;
  font-size: 14px;
  padding-right: 10px;
}

.copywright {
  color: #FFFFFF;
}

.body {
  max-width: 1600px;
  margin: 0 auto;
  scroll-behavior: smooth;
  position: relative;
}

.btn,
.btn-submit {
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  padding: 15px 40px;
  border: 1px solid #000000;
  right: 0;
  bottom: 0;
}
.btn-center,
.btn-submit-center {
  margin: 0 auto;
}
.btn-wide,
.btn-submit-wide {
  padding: 15px 55px;
}

.btn-submit {
  transform: translateX(171px);
  background: none;
  padding: 15px 34px;
  border: 1px solid #2C4058;
  font-size: 18px;
}

.form-field {
  padding-bottom: 10px;
  margin: 0 0 36px;
  border-style: none;
  width: 85%;
  background: transparent;
  border-bottom: 1px solid #000000;
  font-size: 18px;
  opacity: 50%;
}

.btn:hover,
.btn-submit:hover {
  color: #FFFFFF;
  transition: all 0.3s ease-in-out;
  background-color: #2C4058;
}

.header__banner-nav {
  position: fixed;
  right: 8vw;
  top: 292px;
  z-index: 1;
}
.header__banner-nav-item {
  padding-bottom: 34px;
}

.link-bar-menu::before,
.link-banner-menu::after {
  content: "";
  width: 9px;
  height: 9px;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 50%;
  display: inline-block;
  margin-right: 0.8rem;
  background-color: transparent;
}

.link-bar-menu:hover:before,
.link-banner-menu:hover:after {
  background-color: white;
  transition: background-color 0.3s ease;
}

.link-banner-menu::after {
  box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.75), -2px -2px 2px rgba(45, 40, 60, 0.75);
}

.active-dot:after {
  background-color: white;
  transition: background-color 0.3s ease;
}

.header__socials {
  padding-top: 8px;
}

.socials-list {
  display: flex;
}

.socials-item--padding {
  padding-right: 20px;
}

.socials-link {
  padding-top: 11px;
  border: 1px solid #FFFFFF;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.socials-link:hover {
  background-color: #FFFFFF;
}

.socials-link:hover .fab {
  color: #2C4058;
}

.header {
  height: max-content;
  background-repeat: no-repeat;
  background: url("../img/header-img.png"), url("../img/header-bg.jpg");
  margin-bottom: 99px;
}
.header__bar {
  display: flex;
  padding: 53px 215px 0 215px;
  justify-content: space-between;
}
.header__nav {
  padding: 18px 0 0 34px;
}
.header__nav-list {
  display: flex;
}
.header__nav-item {
  padding: 0 36px;
}
.header__socials {
  margin-right: 0;
}
.header__banner {
  position: relative;
  display: flex;
  flex-direction: column;
  background-position: bottom;
}
.header__banner-content {
  padding: 222px 0 270px;
}
.header__btn-down {
  position: relative;
  right: 50%;
  left: 50%;
  bottom: 48px;
  transform: translateX(-50%);
  display: block;
  width: fit-content;
}

.main__news {
  padding: 137px 13.5vw 107px;
  height: max-content;
  background: url("../img/news-img.png"), url("../img/news-bg.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  display: flex;
  flex-direction: column;
}

.main__news:before {
  content: "";
  position: relative;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 6%;
  border-top: 1px solid #ffffff;
  margin: 0 auto;
}

.news-carousel {
  padding: 90px 0 75px;
}

.carousel-item {
  width: 408px;
  height: 514px;
}
.carousel-item-description {
  padding: 27px 20px 30px;
  background-color: #FFFFFF;
  width: 370px;
}

.news-content-short {
  padding-bottom: 40px;
}

.publication-info {
  display: flex;
}
.publication-data {
  padding: 0 21px;
}

.author-avatar {
  border-radius: 50%;
}
.author-name {
  padding: 7px 0;
}

.slick-dots li button:before {
  font-size: 14px;
  color: #fff;
  opacity: 0.5;
}

.slick-dots li {
  margin: 0 10px;
}

.slick-dots li.slick-active button:before {
  color: #FFFFFF;
  opacity: 1;
}

.slick-prev:before, .slick-next:before {
  font-size: 40px;
}

.slick-prev {
  left: -100px;
}

.slick-next {
  right: -100px;
}

.main__projects {
  padding: 0 0 91px;
  display: flex;
  flex-wrap: wrap;
}

.main__projects:before {
  content: "";
  position: relative;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 6%;
  border-top: 1px solid #000000;
  margin: 0 auto;
}

.project-item {
  display: flex;
}
.project-item--first {
  padding: 90px 0;
}
.project-item--second {
  padding: 75px 0;
}
.project-photo {
  position: relative;
  height: fit-content;
}
.project-photo--left {
  background-color: #55B7FF;
  max-width: 585px;
}
.project-img {
  position: relative;
}
.project-img--shift-r {
  left: 215px;
  top: 57px;
}
.project-description {
  align-self: center;
}
.project-description--right {
  margin: 0 13.5vw 0 20.5vw;
  padding: 150px 0 0 2px;
}
.project-info {
  padding: 18px 0 49px;
}
.project-location {
  margin-top: 76px;
  color: #000000;
}
.project-photo--right {
  background-color: #7E5AFF;
  max-width: 585px;
}
.project-img--shift-l {
  right: 260px;
  top: 57px;
}
.project-description--left {
  margin: 0 17.5vw 0 13.5vw;
  padding: 150px 0 0 0;
}

.main__gallery {
  padding: 136px 0 138px;
  display: flex;
  flex-direction: column;
}

.main__gallery:before {
  content: "";
  position: relative;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 6%;
  border-top: 1px solid #000000;
  margin: 0 auto;
}

.gallery-item {
  object-fit: contain;
}
.img-container {
  display: flex;
  padding: 88px 215px 52px;
}
.img-list {
  display: flex;
  flex-wrap: wrap;
}
.img-list-item {
  width: 280px;
  height: 224px;
  margin: 0 5px 0 10px;
}

.footer {
  position: relative;
}
.footer__end {
  padding: 202px 26vw 234px;
  background: url("../img/footer-img.png"), url("../img/footer-bg.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  display: flex;
  justify-content: space-between;
}
.footer__socials {
  padding-top: 6px;
}
.footer__contact {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: #FFFFFF;
  width: 48vw;
  padding-top: 75px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 400px;
}
.footer__logo {
  margin-bottom: 40px;
}

.contacts-list {
  padding: 42px 0 55px 57px;
}
.contacts-item {
  padding-bottom: 30px;
}

.contacts-list,
.form-container {
  width: 50%;
}

.form-container {
  padding: 0 15px;
}

.footer__contact:before {
  content: "";
  position: relative;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 6%;
  border-top: 1px solid #000000;
  margin: 0 auto;
  z-index: 1;
}

.google-maps {
  width: 100%;
  height: 700px;
}

/*# sourceMappingURL=style.css.map */
