.header__banner {

  &-nav {
    position: fixed;
    right: 40px;
    top: 292px;
    z-index: 1;


    &-item {
      padding-bottom: 34px;
    }
  }
}

.link-bar-menu::before,
.link-banner-menu::after {
  content: '';
  width: 9px;
  height: 9px;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 50%;
  display: inline-block;
  margin-right: 0.8rem;
  background-color: transparent;
}


.link-bar-menu:hover:before,
.link-banner-menu:hover:after {
  background-color: rgba(255, 255, 255, 1);
  transition: background-color 0.3s ease;
}

.link-banner-menu::after{
  box-shadow: 2px 3px 2px rgb(0 0 0 / 75%), -2px -2px 2px rgb(45 40 60 / 75%);}


//.link-bar-menu:before:hover .link-bar-menu:before {
//  background-color: #FFFFFF;
//}

//.current:after {
//  background-color: rgba(255, 255, 255, 1);
//  transition: background-color 0.3s ease;
//}

.active-dot:after {
  background-color: rgba(255, 255, 255, 1);
  transition: background-color 0.3s ease;
}